<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );
?>

<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>
 
    

<div class="row">
    
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            
            <div class="snep-body-top-buttons">
                <a class="btn btn-add" href="<?php echo $this->url ?>/add/ " role="button"><?php echo $this->translate("Add Pickup Group")?></a>
                
                <div class="snep-body-search">
                    <?php if($this->key){ ?>
                        <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>">
                        </a> 
                        &nbsp;|&nbsp; 
                    <?php } ?>
                    <?php echo $this->translate("Search")?> <input id="filter" type="text"/>
                </div>
            </div>

            <table class="table demo table-bordered" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">

                <thead>
                    <tr>
                        <th data-type="numeric"   class="text-center" data-sort-initial="true" style="width: 10%;"><?php echo $this->translate('Code');?></th>
                        <th><?php echo $this->translate('Name');?></th>
                        <th  class="text-center"><?php echo $this->translate('Peers in');?></th>
                        <th colspan="2" data-sort-ignore="true"  class="text-center"><?php echo $this->translate('Actions');?></th>
                    </tr>
                </thead>
                <tbody>

                    <?php if($this->pickupgroups):
                        foreach($this->pickupgroups as $id => $pickupGroup ): ?>
                            <tr>
                                <td class="text-center"> <?php echo $pickupGroup['cod_grupo'] ?> </td>
                                <td> <?php echo $pickupGroup['nome'] ?> </td>
                                <td class="text-center"> <?php echo $pickupGroup['members'] ?> </td>

                                <?php 
                                    $disabled = "";
                                    if ( $pickupGroup['cod_grupo'] == 1 ) : 
                                        $disabled= "disabled"; 
                                    endif; 
                                ?>

                                <td  class="text-center">
                                    <a class="btn btn-edit btn-xs <?php echo $disabled ?>"  href="<?php echo $this->url ?>/edit/id/<?php echo $pickupGroup['cod_grupo'] ?>" role="button"><?php echo $this->translate('Edit')?>  
                                    </a>
                                </td>
                                <td  class="text-center">
                                    <a class="btn btn-danger btn-xs <?php echo $disabled ?>"  href="<?php echo $this->url ?>/remove/id/<?php echo $pickupGroup['cod_grupo'] ?>" role="button"><?php echo $this->translate('Delete')?>  
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach ?>
                    <?php endif ?>
                </tbody>
                <tfoot>
                    <tr>

                        <td colspan="7">
                            <div class="paging">
                                <ul class="pagination"></ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <br>
        </div> <!-- demo -->
    </div> <!-- tab-content -->
</div> <!-- /.row -->

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault(); 
        });
    });
</script>


